
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2fcfb;
    text-align: center;}
h1 {
    color: #333;
    font-size: 24px;
    margin-top: 50px; }

p {
    color: #666;
    font-size: 18px;
    margin-top: 20px; 
}

p2 {
    font-style: italic;
    color: #888;
    font-size: 16px;
    margin-top: 20px; 
}
img {
    max-width: 300px; 
    margin-top: 20px; 
}
h3{ font-family: Georgia, 'Times New Roman', Times, serif;}
h2{ font-family: serif;}
h4{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h5{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h6{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
p{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}